<%- include('includes/_head',{
  title : '<title>Main : HTML List</title>'
})%>

<body>
  <div class="wrap">
    <%- include('includes/header') -%>

    <!-- container -->
    <main class="container">
      <div class="frame" id="f_1">
        <div class="frame" id="f_2">
          <div class="frame" id="f_3">
            <div class="frame" id="f_4">
              <div class="frame" id="f_5">
                <div class="frame" id="f_6"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- //container -->
    
    <%- include('includes/footer') -%>
  </div>
<script>
window.addEventListener("deviceorientation", handleOrientation, true)

var frame1 = document.getElementById('f_1');

function handleOrientation(e) {
  var absolute = e.absolute;
  var alpha = e.alpha;
  var beta = e.beta;
  var gamma = e.gamma;

  frame1.style.transform = "translateX:" +(20*gamma/90)+ "px"
}
</script>  
</body>

</html>
