<%- include('includes/_head',{
  title : '<title>Main : HTML List</title>'
})%>

<body>
  <div class="wrap">
    <%- include('includes/header') -%>

    <!-- container -->
    <main class="container">
      <div class="frame" id="f1">
        <div class="frame" id="f2">
          <div class="frame" id="f3">
            <div class="frame" id="f4">
              <div class="frame" id="f5">
                <div class="frame" id="f6"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- //container -->
    
    <%- include('includes/footer') -%>
  </div>
<script>
  
  var frame1 = document.getElementById('f1');
  
  function handleOrientation(e) {
    var absolute = e.absolute;
    var alpha = e.alpha;
    var beta = e.beta;
    var gamma = e.gamma;
    
    frame1.style.transform = "translateX(" +(20*gamma/90)+ "px)"
  }

  // frame1.setAttribute("style","transform: translateX(" +(20*90/90)+ "px)")
  // frame1.style.transform = "translateX(" +(20*90/90)+ "px)"


  window.addEventListener("deviceorientation", handleOrientation, true)
</script>  
</body>

</html>
