<%- include('includes/_head',{
  title : '<title>Main : HTML List</title>'
})%>

<body>
  <div class="wrap">
    <%- include('includes/header') -%>

    <!-- container -->
    <main class="container">
     <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
      </div>
    </main>
    <!-- //container -->

    <span class="test">
      <span class="alpha"></span>
      <span class="beta"></span>
      <span class="gamma"></span>
      <span class="accAlpha"></span>
      <span class="accBeta"></span>
      <span class="accGamma"></span>
    </span>
    
    <%- include('includes/footer') -%>
  </div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper-container',{
		spaceBetween: 20,
	}) 
  function handleOrientation(e) {
    var absolute = e.absolute;
    var alpha = e.alpha;
    var beta = e.beta;
    var gamma = e.gamma;

    test = {
      alpha: document.querySelectorAll('.test .alpha'),
      beta: document.querySelectorAll('.test .beta'),
      gamma: document.querySelectorAll('.test .gamma')
    }

    test.alpha[0].innerText = Math.round(alpha*100)/100;
    test.beta[0].innerText = Math.round(beta*100)/100;
    test.gamma[0].innerText = Math.round(gamma*100)/100;

    // frame1.style.transform = "translate("+ (-40*gamma/90) +"px, " + (-40*beta/180) + "px)"
    // frame2.style.transform = "translate("+ (20*gamma/90) +"px, " + (20*beta/180) + "px)"
    // frame3.style.transform = "translate("+ (10*gamma/90) +"px, " + (10*beta/180) + "px)"
    // frame4.style.transform = "translate("+ (5*gamma/90) +"px, " + (5*beta/180) + "px)"
    // frame5.style.transform = "translate("+ (3*gamma/90) +"px, " + (3*beta/180) + "px)"
    // frame6.style.transform = "translate("+ (1*gamma/90) +"px, " + (1*beta/180) + "px)"
  }

  function handleAcc(e) {
    var alpha = e.rotationRate.alpha;
    var beta = e.rotationRate.beta;
    var gamma = e.rotationRate.gamma;

    test = {
      accAlpha: document.querySelectorAll('.test .accAlpha'),
      accBeta: document.querySelectorAll('.test .accBeta'),
      accGamma: document.querySelectorAll('.test .accGamma'),
    }

    test.accAlpha[0].innerText = Math.round(alpha*100)/100;
    test.accBeta[0].innerText = Math.round(beta*100)/100;
    test.accGamma[0].innerText = Math.round(gamma*100)/100;

    alpha > 30 ? swiper.slidePrev() : null;
    alpha < -30 ? swiper.slideNext() : null;
  }


  window.addEventListener("deviceorientation", handleOrientation, true)
  window.addEventListener("devicemotion", handleAcc, true)
</script>  
</body>

</html>
