// PC responsive area ----------------
@if $use_pc_sprite {
  @media #{$media_pc} {
    .logo {
      @include rfonts(30, 36, 600);
      &:before {
        // @include sprite-p-set;
        @include use-sprite-pc('line_app_large');
      }
    }
    .sub_info {
      @include rfonts(18, 22, 400);
      padding: 3px 11px 5px 43px;
      &:before {
        // @include sprite-p-set;
        @include use-sprite-pc('alert_1');
      }
    }
    .box {
      background: none;
      border-top: solid 1px #ededed;
      li {
        background: none;
        border-bottom: solid 1px #e5e5e5;
      }
    }
    .img_box {
      li {
        background: none;
        border-bottom: solid 1px #e5e5e5;
      }
      .img_png_normal {
        @include use-sprite-pc('gradient-sample');
      }
      .img_jpeg {
        width: 480px;
        height: 120px;
      }
      .img_apng {
        width: 500px;
        height: 273px;
      }
      .svg_icon2 {
        @include useSvg-sprite('icon_bag',232px);
      }
      .svg_icon4 {
        @include useSvg-sprite-test('test99',80px);
      }
    }
  }
}
